:root {
    --Rosewater: #f5e0dc;
    /* rgb(245, 224, 220) */

    --Flamingo: #f2cdcd;
    /* rgb(242, 205, 205) */

    --Pink: #f5c2e7;
    /* rgb(245, 194, 231) */

    --Mauve: #cba6f7;
    /* rgb(203, 166, 247) */

    --Red: #f38ba8;
    /* rgb(243, 139, 168) */

    --Maroon: #eba0ac;
    /* rgb(235, 160, 172) */

    --Peach: #fab387;
    /* rgb(250, 179, 135) */

    --Yellow: #f9e2af;
    /* rgb(249, 226, 175) */

    --Green: #a6e3a1;
    /* rgb(166, 227, 161) */

    --Teal: #94e2d5;
    /* rgb(148, 226, 213) */

    --Sky: #89dceb;
    /* rgb(137, 220, 235) */

    --Sapphire: #74c7ec;
    /* rgb(116, 199, 236) */

    --Blue: #89b4fa;
    /* rgb(137, 180, 250) */

    --Lavender: #b4befe;
    /* rgb(180, 190, 254) */

    --Text: #cdd6f4;
    /* rgb(205, 214, 244) */

    --Subtext1: #bac2de;
    /* rgb(186, 194, 222) */

    --Subtext0: #a6adc8;
    /* rgb(166, 173, 200) */

    --Overlay2: #9399b2;
    /* rgb(147, 153, 178) */

    --Overlay1: #7f849c;
    /* rgb(127, 132, 156) */

    --Overlay0: #6c7086;
    /* rgb(108, 112, 134) */

    --Surface2: #585b70;
    /* rgb(88, 91, 112) */

    --Surface1: #45475a;
    /* rgb(69, 71, 90) */

    --Surface0: #313244;
    /* rgb(49, 50, 68) */

    --Base: #1e1e2e;
    /* rgb(30, 30, 46) */

    --Mantle: #181825;
    /* rgb(24, 24, 37) */

    --Crust: #11111b;
    /* rgb(17, 17, 27) */

}


@font-face {
    font-family: "Iosevka Regular";
    src: url("../assets/fonts/iosevka-regular.ttf") format('truetype');
}

@font-face {
    font-family: "Iosevka Bold";
    src: url("../assets/fonts/iosevka-bold.ttf") format('truetype');
}

@font-face {
    font-family: "Iosevka Thin";
    src: url("../assets/fonts/iosevka-thin.ttf") format('truetype');
}

@keyframes loadIn {
    from {
        transform: translateY(5%);
        opacity: 0;
      }
    
      to {
        transform: translateY(0%);
        opacity: 1;
      }
}

html,
body {
    height: 100%;
    width: 100%;
}

body {
    font-family: 'Iosevka Regular';
    display: flex;
    background-color: var(--Text);
    color: var(--Base);
    font-size: 1vw;
    flex-direction: column;
}

#frontPage {
    display: flex;
    height: 100vh;
    flex-direction: column;
}

#topbar {
    font-family: "Iosevka Regular";
    display: flex;
    padding: 1.5%;
    flex-direction: row;
    justify-content: space-between;
    flex-basis: auto;
    animation-name: loadIn;
    animation-duration: 1s;
    animation-direction: normal;
}

#content {
    background-color: var(--Base);
    color: var(--Text);
    display: flex;
    /* height: 100%; */
    flex-direction: column;
    /* justify-content: center; */
}

#name {
    display: flex;
    flex-direction: column;
    font-size: 1.5vw;
    color: var(--Sky);
}

#navbar {
    display: flex;
    flex-direction: row;
    flex-basis: 20vw;
    font-size: 1.25vw;
}

#navbar>a,
#navbar:visited,
#navbar:link {
    color: var(--Text);
    text-decoration: none;
    font-size: clamp(1.175vw, 1.175vw, 2vw);
    line-height: 1.75;
    padding-top: .5vw;
    padding-bottom: 0vw;
    padding-left: clamp(1vw, 3vw, 3vw);
    padding-right: clamp(1vw, 3vw, 3vw);
    transition: all 0.25s ease;
    border: 2px solid var(--Sky);
    border-radius: .5rem;
}

#navbar>span {
    padding: 1vw;
    color: var(--Sky);
}

#navbar>a:hover,
#navbar>a:focus {
    cursor: pointer;
    background-color: var(--Base);
    color: var(--Text);
    transform: translate(-.5rem, -.5rem);
    box-shadow: .5rem .5rem var(--Text);
}

.header {
    animation-name: loadIn;
    animation-duration: 1s;
    display: flex;
    margin-top: 4vh;
    margin-bottom: 4vh;
    justify-content: center;
    font-family: "Iosevka Regular";
    font-size: 6vw;
    color: var(--Base);
}

.content {
    font-size: clamp(1rem, 1.3vw, 1.3vw);
    line-height: clamp(1.6rem, 2.1vw, 2.1vw);
    margin-left: 25vw;
    margin-right: 25vw;
}

.content>a:visited,
.content>a:link {
    color: var(--Crust);
    text-decoration: underline;
}

.content>a:visited:hover,
.content>a:link:hover {
    color: var(--Crust);
    text-decoration: none;
}

.scroll {
    transform: translateY(50px);
    transition-delay: .3s;
    transition: .4s;
    opacity: 0;
}

.inView {
    opacity: 1;
    transform: translateY(0px);
}

hr {
    display: flex;
    animation-name: loadIn;
    animation-duration: 1s;
    height: 1px;
    border: none;
    background-color: var(--Sky);
    width: 93vw;
    margin: 0px;
    margin-left: 3.5vw;
    /* justify-self: center; */
}

.things {
    color: var(--Sky);
}

strong {
    font-family: "Iosevka Bold";
}