

@font-face {
    font-family: "Iosevka Regular";
    src: url("../assets/fonts/iosevka-regular.ttf") format('truetype');
}

@font-face {
    font-family: "Iosevka Bold";
    src: url("../assets/fonts/iosevka-bold.ttf") format('truetype');
}

@font-face {
    font-family: "Iosevka Thin";
    src: url("../assets/fonts/iosevka-thin.ttf") format('truetype');
}

@keyframes loadIn {
    from {
        transform: translateY(5%);
        opacity: 0;
      }
    
      to {
        transform: translateY(0%);
        opacity: 1;
      }
}

html,
body {
    height: 100%;
    width: 100%;
}

body {
    font-family: 'Iosevka Regular';
    display: flex;
    background-color: var(--Base);
    color: var(--Text);
    font-size: 1vw;
    flex-direction: column;
}

#topbar {
    font-family: "Iosevka Regular";
    display: flex;
    padding: 1.5%;
    flex-direction: row;
    justify-content: space-between;
    flex-basis: auto;
    animation-name: loadIn;
    animation-duration: 1s;
    animation-direction: normal;
}

#content {
    display: flex;
    height: 100%;
    flex-direction: column;
    /* justify-content: center; */
}

#name {
    display: flex;
    flex-direction: column;
    font-size: 1.5vw;
    color: var(--Sky);
}

#navbar {
    display: flex;
    flex-direction: row;
    flex-basis: 20vw;
    font-size: 1.25vw;
}

#navbar>div {
    font-size: clamp(1.175vw, 1.175vw, 2vw);
    line-height: 1.75;
    padding-top: .5vw;
    padding-bottom: 0vw;
    padding-left: clamp(1vw, 3vw, 3vw);
    padding-right: clamp(1vw, 3vw, 3vw);
    transition: all 0.25s ease;
    border: 2px solid var(--Sky);
    border-radius: .5rem;
}

#navbar>span {
    padding: 1vw;
    color: var(--Sky);
}

#navbar>div:hover,
#navbar>div:focus {
    cursor: pointer;
    background-color: var(--Base);
    color: var(--Text);
    transform: translate(-.5rem, -.5rem);
    box-shadow: .5rem .5rem var(--Text);
}

#mainGreetCont {
    display: flex;
    /* This has to change  */
    /* height: calc(100vh - 8.7vh); */
    flex-grow: 1;
    align-items: center;
}


#mainGreet {
    animation-name: loadIn;
    animation-duration: 1s;
    display: block;
    font-family: "Iosevka Regular";
    margin-left: 10vw;
    font-size: 5vw;
    margin-bottom: 10vh;
    line-height: 6vw;
    /* text-shadow: -.175rem .175rem var(--Text); */
}

#mainGreet>span:nth-child(2) {
    color: var(--Sky);
}

#mainGreet>span:nth-child(3) {
    font-family: "Iosevka Thin";
    font-size: 3vw;
    line-height: 3vw;
}

.things {
    color: var(--Sky);
}

hr {
    display: flex;
    height: 1px;
    border: none;
    background-color: var(--Sky);
    width: 93vw;
    margin: 0px;
    margin-left: 3.5vw;
    /* justify-self: center; */
}

#mainGreet>span:nth-child(4) {
    font-family: "Iosevka Thin";
    font-size: 3vw;
    line-height: 3vw;
}

#terminal {
    animation-name: loadIn;
    animation-duration: 1s;
    animation-direction: normal;
    font-family: "Iosevka Regular";
    flex-grow: 1;
    font-size: 1.5vw;
    margin-left: 10vw;
    /* transform: translateY(-5vh); */
}

#terminalLine {
    display: inline-flex;
}

#terminal>pre>span {
    color: var(--Text);
    animation-name: fadeInOut;
    animation-duration: 1.175s;
    animation-iteration-count: infinite;
    animation-timing-function: steps(1, end);
}

@keyframes fadeInOut {
    0% {
        opacity: 1;
    }

    50% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

#orionFetch {
    color: var(--Text);
    font-size: 1.5vw;
}

#orionFetch > a {
    color: var(--Text);
}

#orionFetch > span {
    color: var(--Sky);
}

#projects {
    position: absolute;
    top: 100vh;
    font-size: 1.5vw;
    display: grid;
    grid-template-columns: 1fr;
    max-width: 100vw;
}

#projectsHeader {
    grid-column: span 2;
    margin: 5vw;
    margin-left: 10vw;
}

#graphingCalc {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    margin-left: 10vw;
}

#graphingCalcTitle {
    margin: 1vw;
    font-family: 'Iosevka Thin';
    align-items: center;
}

#calculatorIm {
    object-fit: cover;
    height: 100%;
    width: 50%;
}

