#workGreetCont {
    display: flex;
    flex-grow: 1;
    align-items: center;
}


#workGreet {
    animation-name: loadIn;
    animation-duration: 1s;
    display: block;
    font-family: "Iosevka Regular";
    margin-left: 10vw;
    font-size: 10vw;
    color: var(--Sky);
    /* text-shadow: -.175rem .175rem var(--Text); */
}

#workSum {
    animation-name: loadIn;
    animation-duration: 1s;
    display: block;
    font-family: "Iosevka Regular";
    margin-left: 15vw;
    font-size: 1.5vw;
    line-height: 3vw;
}

#projects {
    /* scroll-margin-top: 100vh; */
    top: 100vh;
    font-size: 1.5vw;
    background-color: var(--Text);
    color: var(--Base);
}

#projectsHeader {
    grid-column: span 2;
    margin: 5vw;
    margin-left: 10vw;
}

#graphingCalc {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: 10vw;
    margin-right: 10vw;
    justify-content: space-around;
}

#graphingCalcTitle {
    display: flex;
    flex-direction: column;
    font-size: 1.25vw;
    font-family: 'Iosevka Regular';
    line-height: 2vw;
    align-items: self-end;
    text-align: right;
}

#graphingCalcTitle>span {
    font-size: 1.5vw;
    font-family: 'Iosevka Regular';
}

#graphingCalcTitle>span>span {
    font-size: 1.5vw;
    font-family: 'Iosevka Thin';
}

#calculatorImCont {
    width: 20%;
    aspect-ratio: 1;
}

#calculatorIm {
    object-fit: cover;
    width: 100%;
    aspect-ratio: 1;
    transition: all 0.25s ease;

}

#calculatorIm:hover {
    cursor: pointer;
    background-color: var(--Text);
    color: var(--Text);
    transform: translate(-.5rem, -.5rem);
    box-shadow: .5rem .5rem var(--Base);
}

#lightingIn2D {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 10vh;
    margin-left: 10vw;
    margin-right: 10vw;
    justify-content: space-around;
}

#lightingIn2DTitle {
    display: flex;
    flex-direction: column;
    font-size: 1.25vw;
    font-family: 'Iosevka Regular';
    line-height: 2vw;
    align-items: self-start;
    text-align: left;
}

#lightingIn2DTitle>span {
    font-size: 1.5vw;
    font-family: 'Iosevka Regular';
}

#lightingIn2DTitle>span>span {
    font-size: 1.5vw;
    font-family: 'Iosevka Thin';
}

#lightingIn2DImCont {
    width: 20%;
    aspect-ratio: 1;
}

#lightingIn2DIm {
    object-fit: cover;
    width: 100%;
    aspect-ratio: 1;
    transition: all 0.25s ease;
}

#lightingIn2DIm:hover {
    cursor: pointer;
    background-color: var(--Text);
    color: var(--Text);
    transform: translate(-.5rem, -.5rem);
    box-shadow: .5rem .5rem var(--Base);
}

#guides {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 10vh;
    margin-left: 10vw;
    margin-right: 10vw;
    justify-content: space-around;
}

#guidesTitle {
    display: flex;
    flex-direction: column;
    font-size: 1.25vw;
    font-family: 'Iosevka Regular';
    line-height: 2vw;
    align-items: self-end;
    text-align: right;
}

#guidesTitle>span {
    font-size: 1.5vw;
    font-family: 'Iosevka Regular';
}

#guidesTitle>span>span {
    font-size: 1.5vw;
    font-family: 'Iosevka Thin';
}

#guidesImCont {
    width: 20%;
    aspect-ratio: 1;
}

#guidesIm {
    object-fit: cover;
    width: 100%;
    aspect-ratio: 1;
}

#footer {
    position: relative;
    height: 30vh;
}