#lightingGreetCont {
    display: flex;
    flex-grow: 1;
    align-items: center;
}


#lightingGreet {
    animation-name: loadIn;
    animation-duration: 1s;
    display: block;
    font-family: "Iosevka Regular";
    margin-left: 10vw;
    font-size: 9vw;
    color: var(--Sky);
    /* text-shadow: -.175rem .175rem var(--Text); */
}

#lightingSum {
    animation-name: loadIn;
    animation-duration: 1s;
    display: block;
    font-family: "Iosevka Regular";
    margin-left: 15vw;
    font-size: 1.5vw;
    line-height: 3vw;
}

#project {
    background-color: var(--Text);
    color: var(--Base);
}

.content {
    font-size: clamp(1rem, 1.3vw, 1.3vw);
    display: flex; 
    flex-direction: column; 
    line-height: clamp(1.6rem, 2.1vw, 2.1vw);
    margin-left: 25vw;
    margin-right: 25vw;
}

.content>a:visited,
.content>a:link {
    display: flex;
    justify-content: center;
    color: var(--Crust);
    text-decoration: underline;
}
.content>a:visited:hover,
.content>a:link:hover {
    display: flex;
    justify-content: center;
    color: var(--Crust);
    text-decoration: none;
}

#plot {
    width: 50%;
}

#imGridCont {
    font-size: clamp(1rem, 1.3vw, 1.3vw);
    display: flex;
    flex-direction: column;
    line-height: clamp(1.6rem, 2.1vw, 2.1vw);
}

#imGrid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    row-gap: 2rem;
}

.gridImcont {
    display: flex;
    width: 100%;
    justify-content: center;
}

#gridIm {
    width: 95%;
    object-fit: cover;
}

#footer {
    background-color: var(--Text);
    position: relative;
    height: 30vh;
}