#calcGreetCont {
    margin-top: 22vh;
    margin-bottom: 36vh;
    display: flex;
    flex-grow: 1;
    align-items: center;
}


#calcGreet {
    animation-name: loadIn;
    animation-duration: 1s;
    display: block;
    font-family: "Iosevka Regular";
    margin-left: 10vw;
    font-size: 9vw;
    color: var(--Sky);
    /* text-shadow: -.175rem .175rem var(--Text); */
}

#calcSum {
    animation-name: loadIn;
    animation-duration: 1s;
    display: block;
    font-family: "Iosevka Regular";
    margin-left: 15vw;
    font-size: 1.5vw;
    line-height: 3vw;
}

#project {
    background-color: var(--Text);
    color: var(--Base);
}


.content>a:visited,
.content>a:link {
    color: var(--Crust);
    text-decoration: underline;
}

.content>a:visited:hover,
.content>a:link:hover {
    color: var(--Crust);
    text-decoration: none;
}

#designLinkCont {
    margin: 7.5vw;
    display: flex;
    justify-content: center;
    font-size: 2vw;
    color: var(--Base);
    background-color: var(--Text);
    transition: all 0.25s ease;
}

#designLink {
    color: var(--Base);
    background-color: var(--Text);
    transition: all 0.25s ease;
    padding: 1vw;
    border: 1px solid var(--Text);
    border-radius: 0.5rem;
}

#designLink:hover {
    cursor: pointer;
    border: 1px solid var(--Base);
}

#footer {
    background-color: var(--Text);
    position: relative;
    height: 30vh;
}