#designGreetCont {
    display: flex;
    flex-grow: 1;
    align-items: center;
}


#designGreet {
    animation-name: loadIn;
    animation-duration: 1s;
    display: block;
    font-family: "Iosevka Regular";
    margin-left: 10vw;
    font-size: 9vw;
    color: var(--Sky);
    /* text-shadow: -.175rem .175rem var(--Text); */
}

#designGreet>span {
    color: var(--Text);
    font-family: "Iosevka Thin";
    display: flex;
    justify-content: center;
}

#designSum {
    animation-name: loadIn;
    animation-duration: 1s;
    display: block;
    font-family: "Iosevka Regular";
    margin-left: 15vw;
    font-size: 1.5vw;
    line-height: 3vw;
}

#project {
    background-color: var(--Text);
    color: var(--Base);
}

code {
    font-size: 1vw;
}

#gridCont {
    display: flex;
    width: 100%;
    justify-content: center;
}

#grid {
    width: 47%;
    height: 47%;
    object-fit: cover;
}

#pixelsCont {
    display: flex;
    width: 100%;
    justify-content: center;
}

#pixels {
    width: 100%;
    height: 47%;
    object-fit: cover;
}

#asymptotesCont {
    display: flex;
    width: 100%;
    justify-content: center;
}

#asymptotes {
    width: 100%;
    height: 47%;
    object-fit: cover;
}

#activeElementCont {
    display: flex;
    width: 100%;
    justify-content: center;
}

#activeElement {
    width: 100%;
    height: 47%;
    object-fit: cover;
}

#design3LinkCont {
    margin: 7.5vw;
    display: flex;
    justify-content: center;
    font-size: 2vw;
    color: var(--Base);
    background-color: var(--Text);
    transition: all 0.25s ease;
}

#design3Link {
    color: var(--Base);
    background-color: var(--Text);
    transition: all 0.25s ease;
    padding: 1vw;
    border: 1px solid var(--Text);
    border-radius: 0.5rem;
}

#design3Link:hover {
    cursor: pointer;
    border: 1px solid var(--Base);
}

#footer {
    background-color: var(--Text);
    position: relative;
    height: 30vh;
}