#frontPage {
    display: flex;
    height: 100vh;
    flex-direction: column;
}

#designGreetCont {
    display: flex;
    flex-grow: 1;
    align-items: center;
}

#designGreet {
    animation-name: loadIn;
    animation-duration: 1s;
    display: block;
    font-family: "Iosevka Regular";
    margin-left: 10vw;
    font-size: 9vw;
    color: var(--Sky);
    /* text-shadow: -.175rem .175rem var(--Text); */
}

#designGreet>span {
    color: var(--Text);
    font-family: "Iosevka Thin";
    display: flex;
    justify-content: center;
}

#designSum {
    animation-name: loadIn;
    animation-duration: 1s;
    display: block;
    font-family: "Iosevka Regular";
    margin-left: 15vw;
    font-size: 1.5vw;
    line-height: 3vw;
}

#project {
    background-color: var(--Text);
    color: var(--Base);
}

#keyboardsCont {
    display: flex;
    width: 100%;
    justify-content: space-evenly;
}

#keyboard2 {
    width: 35%;
    height: 47%;
    object-fit: cover;
}

#keyboard3 {
    width: 35%;
    height: 47%;
    object-fit: cover;
}

#keyboards2Cont {
    display: flex;
    width: 100%;
    justify-content: space-evenly;
}

#keyboard4 {
    width: 35%;
    height: 47%;
    object-fit: cover;
}

#keyboard5 {
    width: 35%;
    height: 47%;
    object-fit: cover;
}

#humungulatorCont {
    display: flex;
    width: 100%;
    justify-content: center;
}

#humungulator {
    width: 35%;
    height: 47%;
    object-fit: cover;
}

#keyboard6Cont {
    display: flex;
    width: 100%;
    justify-content: center;
}

#keyboard6 {
    width: 35%;
    height: 47%;
    object-fit: cover;
}

#calculatorCont {
    display: flex;
    width: 100%;
    justify-content: center;
}

#calculator {
    width: 35%;
    height: 47%;
    object-fit: cover;
}

code {
    font-size: 1vw;
}

#linksCont {
    margin: 7.5vw;
    display: flex;
    justify-content: space-evenly;
    font-size: 2vw;
    color: var(--Base);
    background-color: var(--Text);
    transition: all 0.25s ease;
}

.link {
    color: var(--Base);
    background-color: var(--Text);
    transition: all 0.25s ease;
    padding: 1vw;
    border: 1px solid var(--Text);
    border-radius: 0.5rem;
}

.link:hover {
    cursor: pointer;
    border: 1px solid var(--Base);
}

#footer {
    background-color: var(--Text);
    position: relative;
    height: 30vh;
}